.detail-view {
  min-width: 91%;
  padding: 15px;
  background-color: #97979721;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-top: 15px solid rgba(0, 0, 0, 0.12);
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;

}

.image-content {
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

  label {
    font-weight: 700;
  }
}

.basic-data {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sub-content-info {
  display: flex;
  gap: 12px;
  color: var(--text-color-title);
  display: flex;
  align-items: center;
  border-radius: 9px;
}

.sub-container-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid #212529;
}

.info {
  margin-top: 10px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  border-top: 1px solid red;

  span {
    color: var(--text-color-title);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    border-radius: 9px;
    background-color: var(--sub-content-items);

    label {
      font-weight: 700;
    }
  }
}